@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

header {
    max-width: 1920px;
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 30px 40px;
}

header .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;


}

header .section1 h1 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;

}

li {
    text-decoration: none;
    list-style: none;
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

.section2 {
    /* display: inline; */
    margin: 40px auto;
    width: 862px;
    text-align: center;
}

.brandnew h1,
p,
.section2>button {
    margin-bottom: 30px;
}

.brandnew h1 {
    font-weight: 700;
    font-size: 64px;
    padding: 0px;
}

.brandnew p {
    font-size: 16px;
    font-weight: 400;
}

.primary_btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.primary_btn:hover{
    background-color: black;
    border: 2px solid white;
}
.img img {
    width: 100%;
    padding: 0px auto;

}

header .img {
    width: 85%;

    margin: 0px auto;
}

.section3 {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 85%;
    /* border: 2px solid black; */
    margin: 0px auto;
    align-items: center;
    padding: 40px 20px;
}

.features img {
    width: 200px;
    height: 200px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features_text {
    width: 537px;

}

.features_text h1,
p,
button {
    margin-bottom: 20px;
}

.color1 {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.color2 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.color3 {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features_text p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.enjoable_features {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 85%;
    margin: 0px auto;
    gap: 20px;
    position: relative;

}

.features_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 50%;
    justify-content: space-around;
}

.sigment_head>h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    border-left: 5px solid #FF900E;
    border-radius: 5px;
}

.sigment_head p {
    font-size: 1rem;


}

.features_list .sigments {

    padding: 10px 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    text-align: justify;
    align-items: center;
    align-content: center;
    width: 75%;
    height: 7rem;


}

.sigments h1 {
    margin-bottom: 10px;

}

.sigments p {

    margin: 0px;
}

.features_img {
    width: 50%;
    /* border: 2px solid black; */
}

.features_img img {
    width: 100%;

}

.ten_yers {
    position: relative;
    margin-left: 600px;
    margin-top: -60px;
    text-align: center;
    height: auto;
    width: 15%;
    width: 180px;
    height: 80px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}


.ten_yers>p {
    padding: 10px;
    text-align: center;
}

.ten {
    color: #FFF;
    margin: 0px;

    font-size: 2.5rem;

    font-weight: 500;
}

.section5 {
    width: 85%;
    margin: 100px auto;

}

.facts {
    padding: 30px;

}

.facts h1 {
    font-size: 3rem;
    font-weight: 700;
}

.facts p {
    margin-top: 10px;
    width: 542px;
}

.cards {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    margin-top: 50px;
    margin-left: 50px;

}

.facts_card {
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    width: 140px;
    cursor: pointer;

}
.facts_card:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: .5s;
}
.facts_card p {
    margin: 0px;

}

.section6 {
    margin: 100px auto;
    width: 80%;


}

.sponsors {
    text-align: center;

}

.sponsors h1 {
    font-size: 3rem;
    font-weight: 700;

}

.sposnor_text {

    width: 500px;

    margin: 10px auto;
}

.img_sponsors {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
    /* border: 2px solid black; */

}
.img_sponsors img:hover{
    background-color: rgb(187, 179, 179);
    transform: scale(1.5);
    transition: .5s;
    cursor: pointer;
    border-radius: 5px;
    
}
.img_sponsors img {
    height: 30px;
}



.footer {
    background: rgba(255, 144, 14, 0.10);
    width: 80%;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    /* padding-top: 25px; */
}